.main-content {
  max-width: 72rem;
  margin-left: auto;
  margin-right: auto;
  padding: $spacer-5;
}

.content-wrapper {
  width: 100%;
  height: calc(100vh - #{$header-height});
  overflow-y: auto;
}

.section {
  &:not(:first-of-type) {
    margin-top: $spacer-5;
  }
}
