.search-form {
  position: relative;

  .form-control {
    padding-left: $spacer-6;
  }
}

.search-form-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding-left: 12px;
  pointer-events: none;

  .remix {
    color: $text-placeholder;
  }
}
