.subhead {
  border-bottom: $border;
  padding-bottom: $spacer-2;
  margin-bottom: $spacer-3;
}

.subhead-heading {
  font-size: $h4-size;
  font-weight: $font-weight-medium;
}

.subhead-description {
  font-size: $h6-size;
  color: $text-gray;
  margin-top: $spacer-1;
}

.subhead-heading--danger {
  color: $text-red;
}
