@font-face {
  font-family: 'Inter';
  font-weight: 400;
  /* stylelint-disable csstree/validator */
  src: font-url('fonts/Inter-Regular.woff2') format('woff2'),
    font-url('fonts/Inter-Regular.woff') format('woff');
  font-display: swap;
  /* stylelint-enable csstree/validator */
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  /* stylelint-disable csstree/validator */
  src: font-url('fonts/Inter-Medium.woff2') format('woff2'),
    font-url('fonts/Inter-Medium.woff') format('woff');
  font-display: swap;
  /* stylelint-enable csstree/validator */
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  /* stylelint-disable csstree/validator */
  src: font-url('fonts/Inter-SemiBold.woff2') format('woff2'),
    font-url('fonts/Inter-SemiBold.woff') format('woff');
  font-display: swap;
  /* stylelint-enable csstree/validator */
}
