<div class="subhead">
  <h2 class="subhead-heading {{if @danger "subhead-heading--danger"}}">
    {{@title}}
  </h2>

  {{#if @description}}
    <p class="subhead-description">{{@description}}</p>
  {{/if}}
</div>
