.box {
  width: 100%;
  border: $border;
  border-radius: $border-radius;
  background-color: $bg-white;
}

.box-header {
  border-bottom: $border;
  display: flex;
  justify-content: space-between;
  padding: 12px $spacer-3;

  .box-title {
    font-size: $h5-size;
    font-weight: $font-weight-medium;
  }

  .box-close-btn {
    margin-right: -$spacer-3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 $spacer-3;
    color: $text-gray-light;
    background: transparent;
    border: 0;
    outline: none;

    &:hover {
      color: $text-gray-dark;
    }

    &:active {
      color: $text-gray;
    }
  }
}

.box-body {
  padding: $spacer-3;
}

.box-footer {
  padding: 12px $spacer-3;
  border-top: $border;
}

.box--mktg > .box-body {
  padding: $spacer-5;
}

.box--spacious > .box-body {
  padding: $spacer-4;
}

.box--condensed > .box-body {
  padding: 12px;
}
