{{page-title "Onboarding"}}

<main class="flex justify-center min-h-screen bg-gray-light py-8">
  <div class="w-full">
    <div class="text-center mb-2">
      <img src="/logo.svg" alt="Feature flow" class="h-14 w-auto mx-auto">
    </div>

    <h1 class="h2 text-center">
      Let's get started by creating an account
    </h1>

    <div class="box box--mktg mt-6 shadow-lg max-w-md w-full mx-auto">
      <div class="box-body">
        <Account::NewForm />
      </div>
    </div>
  </div>
</main>
