<section class="section">
  <Subhead @title="Account general settings" />
  <Account::RenameForm @account={{this.model}} />
</section>

<Account::Activate @account={{this.model}} />

<section class="section">
  <Subhead @title="Danger zone" @danger="true" />

  <div class="divide-y">
    <Account::Deactivate @account={{this.model}} />
    <Account::Delete @account={{this.model}} />
  </div>
</section>
