{{#if (eq @account.status "active")}}
  <div>
    <h3 class="h6">Deactivate your account</h3>

    <p class="mt-1">
      This will immediately deactivate your account and will render a 404 for
      your
      <a href="#">public feature requests</a>
      page.
    </p>

    <button type="button" class="btn btn--danger-outline mt-3">
      Deactivate account
    </button>
  </div>
{{/if}}
