<div>
  <h3 class="h6">Delete your account</h3>

  <p class="mt-1">
    This will permanently delete your account and will cancel your subscription
    too. Proceed with caution.
  </p>

  <button type="button" class="btn btn--danger-outline mt-3">
    Delete account
  </button>
</div>
