// text
$text-white: $white;
$text-gray-dark: $gray-900;
$text-gray: $gray-700;
$text-gray-light: $gray-600;
$text-blue: $blue-600;
$text-red: $red-600;

// bg
$bg-white: $white;
$bg-gray-light: $gray-100;

// border
$border-gray: $gray-200;
