$white: #fff;
$black: #000;

// gray
$gray-100: #f6f8fa;
$gray-200: #e1e4e8;
$gray-300: #d1d5da;
$gray-400: #959da5;
$gray-500: #6a737d;
$gray-600: #586069;
$gray-700: #444d56;
$gray-800: #2f363d;
$gray-900: #24292e;

// blue
$blue-600: #005cc5;

// red
$red-200: #fdaeb7;
$red-600: #cb2431;
$red-700: #b31d28;

// indigo
$indigo-200: #c7d2fe;
$indigo-500: #6366f1;
$indigo-600: #4f46e5;
