// background
.bg-gray-light {
  background-color: $bg-gray-light !important;
}

// text
.text-gray-light {
  color: $text-gray-light !important;
}

.text-gray {
  color: $text-gray !important;
}

.text-red {
  color: $text-red !important;
}
