$flex-justify: (
  center: center,
  between: space-between,
);

@each $position, $prop in $flex-justify {
  .justify-#{$position} {
    justify-content: $prop !important;
  }
}

.items-center {
  align-items: center !important;
}

.flex-1 {
  flex: 1 1 0% !important;
}
